@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');



body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: #f8f8f8;
    color: #333;
  }
  
  header {
    text-align: center;
    background: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .header-img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
  }
  
  .menu {
    list-style: none;
    display: flex;
    gap: 15px;
  }
 
  .menu li {
    display: inline;
  }
 
  .menu a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
  }

  .botao {
    padding: 4px 12px;
    border-radius: 20px;
    font-weight: 600;
  }

  .botao.doar{
    background-color: orange;
    color: #fff;
  }
  
  .highlight {
    color: #ffa500;
  }
  
  main {
    padding: 20px;
    max-width: 960px;
    margin: auto;
  }
  
  .content {
    margin-bottom: 40px;
  }
  
  .content h2 {
    color: #f39800;
    margin-bottom: 10px;
  }
  
  .stats {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
  }
  
  .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
  }
  
  .card {
    background: #fafafa;
    padding: 15px;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    text-align: center;
  }
  
  .card img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  footer {
    background-color: orange;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 20px;
    font-size: 14px;
  }
 
  footer .info, footer .direito, footer .social {
    flex: 1;
    margin: 10px;
  }
 

.icon_insta{
  width: 24px;
  
 
}
   .social {
    width: 24px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    gap: 10px;

  }


.social a{
  color: white;
} 
